<mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search variations">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<button mat-raised-button color="primary">Create Variation</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Variation Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="types">
    <th mat-header-cell *matHeaderCellDef> Variation Types </th>
    <td mat-cell *matCellDef="let element"> {{element.types}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

